@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared style */
.display-flex{
  display: flex;
}

nav {
  max-width: 1440px;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
/* navbar section style */
.navbar{
  /* max-width: 1440px; */
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  text-decoration: none;
  
}
.nav-item{
  list-style: none;
  margin-right: 32px;
}

.navbar, .banner{
  max-width: 1160px;
  margin: 0 auto;
}

.brand{
  justify-content: center;
  align-items: center;
}
.brand-name{
  font-weight: bold;
  font-size: 2rem;
}
.brand-image{
  width: 62px;
  height: 62px;
}

/* button section style */
.btn{
  width: 197px;
  height: 50px;
  background-color: #FEA301;
  border: none;
  border-radius: 12px;
  color: #FFFFFF;
  font-weight: 600px;
  font-size: 1.25rem;
  padding: 10px 60px;
}
/* colour gradient */

.colour1{
  color: #FEA301;
}

.colour2{
  color: #01ACFD;
}

.colour3{
  color: #05D4DF;
}

.colour4{
  color: #5D58EF;
}

/* banner section style */
.banner{
  gap: 50px;
 align-items: center;
}
.banner-content{
  max-width: 640px;
  margin: 0px auto;
}

.banner-title{
  font-weight: bold;
  font-size: 3.5rem;
}
.banner-description{
  font-size: 1.25rem;
}
.banner-btn{
  width: 197px;
  height: 50px;
  background-color: #111111;
  border: none;
  border-radius: 12px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 10px 40px;
}

/* Curriculum card section style */

.section-title{
  font-weight: bold;
  font-size: 2.8rem;
  margin-top: 60px auto 80px;
}

.Curriculum{
  justify-content: center;
  text-align: center;
  background-image: url(assets/bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.Curriculum-card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 1160px;
  height: 480px;
  margin: 0 auto;
  /* text-align: center;
  justify-content: space-around;
  align-items: center;
  gap: 28px; */
}

.card{
  width: 367px;
  height: 476px;
  /* justify-content: center;
  text-align: center; */
  align-items:center;
  border-radius: 18px;
}

.card-img{
  width: 136px;
  height: 136px;
  margin: 52px 115px 32px;
}
.card-title{
  font-weight: bold;
  font-size: 1.5rem;
}
.card-description{
  font-weight: 600px;
  font-size: 15px;
  text-align: center;
}

.section-btn{
  text-align: center;
  justify-content: center;
  gap: 5px;
  margin-top: 80px;
  margin-bottom: 60px;
}
.arrow-btn{

  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FEA301;
  border: none;
  color: #FFFFFF;
  font-size: 1.5rem;
}
/* card gradient */
.card1{
  background-color: #DEF5FF;
}
.card2{
  background-color: #FFF4DC;
}
.card3{
  background-color: #F2E8FF;
}

/* stories section style */
.our-stories{
  justify-content: center;
  text-align: center;
  background-image: url(assets/bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}

.stories{
  gap: 19px;
  justify-content: center;
}
.story-1{
  width: 540px;
  height: 630px;
  gap: 19px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.img1{
  width: 540px;
  height: 337px;
}

.story-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 19px;
}
.story-card{
  width: 290px;
  height: 301px;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  border-collapse: collapse;
}
.card-title{
  font-weight: bold;
  font-size: 15px;
  align-items: center;
  margin: 23px 54px 33px 37px;
}
.img{
  width: 291px;
  height: 177px;
}

.story-btn{
  width: 197px;
  height: 50px;
  background-color: #111111;
  border: none;
  border-radius: 12px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 10px 40px;
  margin: 70px auto;
}



/* footer section style */
footer{
  max-width: 1440px;
  margin: 0 auto;
  /* background-color: #01ACFD;
  color: white; */
}

.footer{
  justify-content: center;
  text-align: center;
  background: rgb(1, 172, 253);
  color: white;
}

.footer-content{
  padding: 123px 228px 174px 140px;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 1070px;
  height: 222px;
}

.education{
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 399px;
}

.edu{
  justify-content: center;
  align-items: center;
  text-align: left;
}
.edu-img{
  filter: grayscale(100%);
  width: 83px;
  height: 81px;
}
.edu-title{
  font-weight: bold;
  font-size: 2.5rem;
}
.edu-description{
  margin: auto;
  font-size: 1.25rem;
}


ul > li{
  margin-bottom: 20px;
}

.about{
  justify-content: center;
  align-items: center;
}
.about-title{
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.touch{
  justify-content: center;
  text-align: center;
  align-items: center;
}
.touch-title{
  font-weight: bold;
  font-size: 1.62rem;
}


/* responsive media */
@media screen and (max-width : 576px) {
  .brand-name,
  .nav-links,
  .btn,
  .section-btn,
  .story-1{
    display: none;
  }
  .banner{
    flex-direction: column-reverse;
    margin-left: 20px;
    margin-right: 20px;
  }
  .banner-content{
    justify-items: center;
  }

  .banner img{
    width: calc(100% - 40px);
  }
  .Curriculum-card{
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 12px;
    width: 350px;
    height: 100%;
  }
  .story-content{
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
  }
}